@model Proyecto_2236903_Framework.Models.producto_compra

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Producto_Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Compra:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_compra)
        </dd>

        <dt>
            Producto:
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.ProductoCompraController.NombreProducto(Model.id_producto)
        </dd>

        <dt>
            Cantidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todo", "Index")
</p>
