@model Proyecto_2236903_Framework.Models.compra

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Total:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            Usuario:
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

        <dt>
            Cliente:
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.CompraController.NombreCliente(Model.id_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todo", "Index")
</p>
