@model Proyecto_2236903_Framework.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.UsuarioRolController.NombreUsuario(Model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRol)
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.UsuarioRolController.DescripcionRol(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
